# Vim emulation to the GNU Readline library (e.g. Python REPL will support Vim bindings)
set editing-mode vi

# set completion-ignore-case on
# set show-all-if-ambiguous on
# set show-all-if-unmodified on

$if mode=vi
    set show-mode-in-prompt on

    set vi-ins-mode-string "[I]"
    set vi-cmd-mode-string "[N]"

    set keymap vi-command
    Control-l: clear-screen

    set keymap vi-insert
    Control-l: clear-screen

    # "\e.": yank-last-arg
    # "\e_": yank-last-arg
$endif
