# Ignore everything inside .vim
vim/.vim/*

# Except these files/directories...
!vim/.vim/vimrc
!vim/.vim/plugin
!vim/.vim/coc-settings.json
!vim/.vim/after

tmux/.tmux/plugins/*
!tmux/.tmux/plugins/tpm
!tmux/.tmux/plugins/custom
